@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
*{
    font-family: 'Inter', sans-serif;
}
h2{
    font-size:1.5vw;
}
.loginMain{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container_main{
    width: 25%;
    margin: 0 auto;
    min-width: 350px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.riot{
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center
}

.riot img{
    width: 60%;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
   
}

.register{
    padding: 1vw;
    font-size: 20px;
    font-weight: 700;
    width:30vw;
    height: 10vh;
    margin-top: 2vh;

}

.container_buttons{
    margin-top:2vh;
    width: 40vw;
    display:flex;
    justify-content: space-evenly;
}
.face{
    background-color:#2051FF;
    width:8vw;
    height:6vh;
    border:none;
    border-radius: 5px;
}

.logo{
    width: 24px;
    height: 24px;
}

.google{
    background-color:#8A0000;
    width:8vw;
    height:6vh;
    border:none;
    border-radius: 5px;

}

.apple{
    background-color: #000000;
    width:8vw;
    height:6vh;
    border:none;
    border-radius: 5px;

}
.mainBanner{
    width:60%;
}
.mainBanner img{
    width:100%;
}

.keepLogin{
font-weight: 700;
font-size: 20px;
   display: flex;
   width:30vw;
   margin-left: -32px;
   margin-top:2vh;
}
.buttonLogin{
    opacity: 0.1;
    cursor: pointer;
    border-radius: 3px;
    background: #FF002E;;
    border:none;
}
.changeColor{
    opacity:1;
}

.login_area{
 display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login_area--help{
    width:80%
}
      
.login_area--help a{
    text-decoration: none;
    color: #A6A6A6;


}